@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Noto+Sans+JP:wght@400;700&family=Shippori+Mincho:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;700&display=swap");
/*================================================================
Chrome/Firefox/Edge/Safariなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  -webkit-text-size-adjust: 100%;
}

header {
  font-family: "Shippori Mincho", serif;
}

body.is-active {
  overflow: hidden;
}

.header {
  position: relative;
  background: url(../img/FV.jpg) no-repeat center center/cover;
  width: 100%;
  max-height: 1440px;
  min-height: 750px;
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .header {
    height: 411px;
    min-height: auto;
    margin-top: 20px;
    background-position: 63%;
  }
}

.header__inner {
  position: relative;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  color: #e9e0cf;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .header__inner {
    position: fixed;
    top: -105%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 6;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__inner.is-active {
    top: 0;
  }
}

.header__contents {
  position: relative;
  padding-top: 10vh;
  z-index: 3;
  margin-left: 5px;
}
@media screen and (max-width: 767px) {
  .header__contents {
    margin-left: 0;
    text-align: center;
    padding-top: 92px;
    z-index: 6;
  }
}

.header__logo {
  width: 179px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .header__logo {
    position: absolute;
    top: 116%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 84px;
    height: 84px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px ) {
  .header__logo {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__logo:hover {
    opacity: 0.7;
  }
}
@media screen and (min-width: 1280px ) {
  .header__logo {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__logo:hover {
    opacity: 0.7;
  }
}

.header__nav {
  margin-top: 6vh;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .header__nav {
    margin-top: 0;
    font-size: 20px;
  }
}

.header__nav-item:nth-child(n+2) {
  margin-top: 4vh;
}
@media screen and (max-width: 767px) {
  .header__nav-item:nth-child(n+2) {
    margin-top: 32px;
  }
}

.header__nav-item > a {
  position: relative;
}
.header__nav-item > a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% + 1px);
  background: #e9e0cf;
  width: 0;
  height: 1px;
  margin-top: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__nav-item > a::after {
  content: "";
  position: absolute;
  top: 100%;
  right: calc(50% + 1px);
  background: #e9e0cf;
  width: 0;
  height: 1px;
  margin-top: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (min-width: 768px) and (max-width: 1279px ) {
  .header__nav-item > a:hover::before {
    width: 85px;
    left: 0;
  }
  .header__nav-item > a:hover::after {
    content: "";
    width: 87px;
    right: 0;
  }
}
@media screen and (min-width: 1280px ) {
  .header__nav-item > a:hover::before {
    width: 85px;
    left: 0;
  }
  .header__nav-item > a:hover::after {
    content: "";
    width: 87px;
    right: 0;
  }
}
.header__contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .header__contact-wrapper {
    display: block;
  }
}

.header__contact {
  margin-top: 8vh;
}
@media screen and (max-width: 767px) {
  .header__contact {
    margin-top: 54px;
  }
}

.header__contact-text {
  padding-left: 26px;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .header__contact-text {
    padding-left: 0;
  }
}

.header__contact-tel {
  position: relative;
  font-size: 33px;
  padding-left: 46px;
  letter-spacing: 1.35px;
}
@media screen and (max-width: 767px) {
  .header__contact-tel {
    display: inline-block;
    font-size: 30px;
    padding-left: 44px;
    letter-spacing: 2px;
    line-height: 1;
  }
}
@media screen and (min-width: 1280px ) {
  .header__contact-tel[href^="tel:"] {
    pointer-events: none;
  }
}
.header__contact-tel::before {
  content: "";
  background: url(../img/basil_phone-solid.png) no-repeat center center/cover;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
}

.header__contact-reserve {
  text-align: center;
  margin-right: 5px;
}
@media screen and (max-width: 767px) {
  .header__contact-reserve {
    margin-right: 0;
    margin-top: 31px;
  }
}
.header__contact-reserve a {
  position: relative;
  height: 77px;
  width: 274px;
  background: #d1ad6c;
  color: #262c3a;
  line-height: 77px;
  padding: 20px 38px;
}
@media screen and (max-width: 767px) {
  .header__contact-reserve a {
    height: 61px;
    width: 216px;
    line-height: 61px;
    padding: 16px 22px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1280px ) {
  .header__contact-reserve a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    background: #ffffff; /*背景色*/
    z-index: 3;
  }
  .header__contact-reserve a:hover::after {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .header__contact-reserve a span {
    position: relative;
    z-index: 4;
  }
}

.header__bkg {
  background: rgba(38, 44, 58, 0.86);
  height: 100vh;
  min-height: 750px;
  max-height: 1440px;
  min-width: 272px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-left: calc(50% - 50vw);
  padding-left: calc(50vw - 50% + 272px);
}
@media screen and (max-width: 767px) {
  .header__bkg {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    height: calc(100vh + 700px);
    background: #262c3a;
    top: -101vh;
    z-index: 5;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__bkg.is-active {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  .header__log-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 126px;
    height: 120px;
    background: url(../img/ye_logo.png) no-repeat center center/cover;
  }
}

@media screen and (max-width: 767px) {
  .drawer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    background: #262c3a;
    z-index: 8;
  }
  .drawer-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    background: #262c3a;
  }
  .drawer-menu__var {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 41px;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    z-index: 10;
  }
  .drawer-menu__var.is-active {
    top: 82%;
    left: 20%;
  }
  .drawer-menu__var-01 {
    background: #e9e0cf;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .drawer-menu__var-01.is-active {
    scale: 1.5;
    -webkit-transform: rotate(225deg) translate(-4px, -18px);
            transform: rotate(225deg) translate(-4px, -18px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  .drawer-menu__var-02 {
    background: #e9e0cf;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .drawer-menu__var-02.is-active {
    opacity: 0;
  }
  .drawer-menu__var-03 {
    background: #e9e0cf;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .drawer-menu__var-03.is-active {
    scale: 1.5;
    -webkit-transform: rotate(-225deg) translate(10px, 4px);
            transform: rotate(-225deg) translate(10px, 4px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
}
.view {
  font-family: "Shippori Mincho", serif;
}

.empty {
  height: 200px;
}

.view {
  position: relative;
  height: 800px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .view {
    height: 386px;
  }
}

.main-visual-01 {
  background: url(../img/swiper_01.jpg) no-repeat center center/cover;
  height: 800px;
}
@media screen and (max-width: 767px) {
  .main-visual-01 {
    height: 386px;
  }
}

.main-visual-02 {
  background: url(../img/swiper_02.jpg) no-repeat center center/cover;
  height: 800px;
}
@media screen and (max-width: 767px) {
  .main-visual-02 {
    height: 386px;
  }
}

.main-visual-03 {
  background: url(../img/swiper_03.jpg) no-repeat center center/cover;
  height: 800px;
}
@media screen and (max-width: 767px) {
  .main-visual-03 {
    height: 386px;
  }
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  display: none;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  background: #e9e0cf;
  opacity: 1;
  margin: 30px;
}
@media screen and (max-width: 767px) {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}

.swiper-pagination-bullet-active {
  background: #262c3a;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-inline: 30px;
}
@media screen and (max-width: 767px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-inline: 15px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  margin-bottom: 95px;
}
@media screen and (max-width: 767px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    margin-bottom: 39px;
  }
}

.view__contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  color: #e9e0cf;
  max-width: 100%;
  text-align: center;
  height: 300px;
}

.view__title {
  font-size: 50px;
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .view__title {
    font-size: 24px;
    margin-top: 70px;
  }
}

.view__text {
  font-size: 20px;
  margin-top: 60px;
  width: 630px;
  max-width: 100%;
  letter-spacing: 3px;
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  .view__text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 30px;
    letter-spacing: 0.7px;
    padding: 0 50px;
  }
  .view__text br {
    display: none;
  }
}

body {
  background: #000;
}

body {
  font-family: "Shippori Mincho", "serif";
  font-size: 16px;
  letter-spacing: 1.6;
  color: #262c3a;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

/* ===============================================
# top
=============================================== */
#page-top {
  background: #262c3a;
  width: 96px;
  height: 86px;
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  #page-top {
    width: 30px;
    height: 25px;
    right: 21px;
    padding: 7px;
    padding-bottom: 10px;
    background: #262c3a;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

/* ===============================================
# section__concept
=============================================== */
.section__concept {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 95px;
}
@media screen and (max-width: 767px) {
  .section__concept {
    padding-top: 0;
  }
}

.menu__inner {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.concept__first__title-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .concept__first__title-sp {
    display: inline-block;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .concept__first__title-sp h2 {
    color: #262c3a;
    font-size: clamp(1.375rem, 2vw + 0.8rem, 2.5rem);
    line-height: 1.4;
    letter-spacing: 0.38em;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
}

.concept__first__img__container {
  width: 1440px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media screen and (max-width: 767px) {
  .concept__first__img__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.concept__first__img {
  position: relative;
  margin-right: -10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .concept__first__img {
    margin-right: 0;
  }
}
.concept__first__img img {
  max-width: 100%;
  width: 720px;
}
@media screen and (max-width: 767px) {
  .concept__first__img img {
    width: 80%;
  }
}

.concept__first__bgImg img {
  max-width: 860px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .concept__first__bgImg img {
    position: relative;
    width: 80%;
    margin-top: -52%;
    margin-left: 6%;
    z-index: -1;
  }
}

@media screen and (max-width: 767px) {
  .concept__first__accentImage {
    background: url(../img/asirai-sp.png) no-repeat center center/contain;
    width: 150px;
    height: 53px;
    z-index: 1;
    position: absolute;
    top: 27px;
    right: 0%;
  }
}

@media screen and (max-width: 767px) {
  .concept__first__accentImage2 {
    background: url(../img/asirai2-sp.png) no-repeat center center/contain;
    width: 150px;
    height: 53px;
    z-index: 1;
    position: absolute;
    top: 378px;
    left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .concept__first__accentImage-sp {
    position: absolute;
    background: url(../img/asirai-sp.png) no-repeat center center/contain;
    top: 0%;
    right: 0%;
    width: 150px;
    height: 53px;
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .concept__first__accentImage2-sp {
    position: absolute;
    background: url(../img/asirai2-sp.png) no-repeat center center/contain;
    bottom: -5%;
    left: 0%;
    width: 150px;
    height: 53px;
  }
}

.concept__first__title {
  color: #262c3a;
  font-size: clamp(1.375rem, 2vw + 0.8rem, 2.5rem);
  line-height: 1.4;
  letter-spacing: 0.38em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  top: 56%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 85%;
  right: 15%;
}
@media screen and (min-width: 768px) and (max-width: 1279px ) {
  .concept__first__title {
    letter-spacing: 0.15em;
  }
}
@media screen and (max-width: 767px) {
  .concept__first__title {
    position: relative;
    height: 462px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    top: 0;
    right: -8%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    line-height: 1.3;
    letter-spacing: 0.28em;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 24px;
  }
}

.concept__first__text__container {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 85%;
  right: 25%;
}
@media screen and (min-width: 768px) and (max-width: 1279px ) {
  .concept__first__text__container {
    letter-spacing: 0.15em;
    right: 25%;
  }
}
@media screen and (max-width: 767px) {
  .concept__first__text__container {
    position: static;
    height: auto;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.concept__first__title__br {
  display: inline-block;
  text-align: end;
  letter-spacing: 0.4em;
  height: 100%;
  padding-bottom: 45px;
}
@media (max-width: 950px) {
  .concept__first__title__br {
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 767px) {
  .concept__first__title__br {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.25em;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .concept__first__title__br2 {
    font-weight: 400;
    margin-bottom: -3px;
  }
}

.concept__first__text {
  font-size: 18px;
  line-height: 32.8px;
  letter-spacing: 0.19rem;
  margin-right: 55px;
}
@media (max-width: 1280px) {
  .concept__first__text {
    font-size: 16px;
    margin-right: 5px;
  }
}
@media (max-width: 1024px) {
  .concept__first__text {
    font-size: 14px;
    letter-spacing: 0.1rem;
    line-height: 2;
  }
}
@media (max-width: 850px) {
  .concept__first__text {
    font-size: 12px;
    line-height: 2;
  }
}
@media screen and (max-width: 767px) {
  .concept__first__text {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    letter-spacing: 0.01em;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    margin-top: 35px;
    height: 120px;
  }
}

.concept-br {
  margin-left: 40px;
}

.concept__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4%;
  position: relative;
}
@media (max-width: 500px) {
  .concept__second {
    margin-top: 8%;
  }
}
@media screen and (max-width: 767px) {
  .concept__second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 18%;
  }
}

.concept__second__img__container {
  width: 1440px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .concept__second__img__container {
    display: block;
    text-align: right;
  }
}

.concept__second__accentImage2-sp img {
  max-width: 860px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .concept__second__accentImage2-sp img {
    position: relative;
    width: 80%;
    margin-right: 6%;
    margin-bottom: -6%;
    z-index: -1;
  }
}

.concept__second__img {
  position: relative;
  margin-left: -8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .concept__second__img {
    margin-left: 0;
    margin-top: -54%;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}
.concept__second__img img {
  max-width: 100%;
  width: 740px;
}
@media screen and (max-width: 767px) {
  .concept__second__img img {
    width: 80%;
  }
}

.concept__second__content {
  position: absolute;
  top: 13%;
  left: 13%;
  width: 400px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .concept__second__content {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 13%;
    width: 100%;
    position: static;
    text-align: center;
  }
}

.concept__second__title {
  display: inline-block;
  font-size: clamp(1.375rem, 2vw + 0.8rem, 2.5rem);
  letter-spacing: 0.08em;
  line-height: 0.76;
  width: 100%;
  margin-left: 36px;
}
@media (max-width: 930px) {
  .concept__second__title {
    margin-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .concept__second__title {
    letter-spacing: -0.02em;
  }
}

.concept__second__text {
  width: 380px;
  max-width: 100%;
  margin-top: 17%;
  line-height: 1.85;
  font-size: 18px;
  margin-left: 8%;
}
@media (max-width: 1280px) {
  .concept__second__text {
    font-size: 16px;
    margin-top: 50px;
    width: 300px;
  }
}
@media (max-width: 1024px) {
  .concept__second__text {
    font-size: 14px;
    letter-spacing: 0.1rem;
    line-height: 2;
    width: 280px;
    margin-top: 20px;
  }
}
@media (max-width: 850px) {
  .concept__second__text {
    font-size: 12px;
    line-height: 2;
    width: 240px;
  }
}
@media screen and (max-width: 767px) {
  .concept__second__text {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
    line-height: 1.5;
    letter-spacing: 0;
    text-align: left;
    font-size: 16px;
  }
}

/* ===============================================
# menu__card
=============================================== */
.section__menu {
  padding: 130px 0 0;
  position: relative;
  margin-bottom: 114px;
}
@media screen and (max-width: 767px) {
  .section__menu {
    margin-top: 101px;
    padding: 0;
  }
}
@media screen and (min-width: 380px) and (max-width: 767px) {
  .section__menu {
    margin-top: 101px;
  }
}

.menu__inner {
  padding-inline: 0;
}
@media screen and (max-width: 767px) {
  .menu__inner {
    padding-inline: 20px;
  }
}

.menu__card {
  margin-top: 99px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .menu__card {
    margin-top: 40px;
  }
}

.menu__title {
  font-size: 40px;
  line-height: 1.35;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .menu__title {
    font-size: 24px;
  }
}

.menu__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 94px;
}
@media screen and (max-width: 767px) {
  .menu__cards {
    display: block;
  }
}

.menu__card__img {
  height: auto;
  width: 100%;
}

.menu__card__content {
  text-align: center;
  background: url(../img/menu-cardBg.jpg) lightgray 50%/cover no-repeat;
  padding: 16px 0 20px;
}

.menu__card__content__need {
  padding: 2px 6px;
  border-top: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .menu__card__content__need {
    margin-top: 8px;
    padding: 0;
  }
}

.menu__card__content__title {
  margin-top: 20px;
  font-size: 32px;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 767px) {
  .menu__card__content__title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-top: 8px;
  }
}

.menu__card__content__price {
  margin-top: 16px;
  font-size: 32px;
  letter-spacing: 0.065em;
}
@media screen and (max-width: 767px) {
  .menu__card__content__price {
    font-size: 24px;
    margin-top: 8px;
    letter-spacing: 0.06em;
  }
}

.menu__card__content__price__en {
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .menu__card__content__price__en {
    font-size: 20px;
  }
}

.menu__card__content__price__tax {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .menu__card__content__price__tax {
    font-size: 16px;
  }
}

button {
  position: relative;
  overflow: hidden;
}

.menu__card__content__detail {
  /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
  /*アニメーションの指定*/
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  /*ボタンの形状*/
  background: #ffffff;
  padding: 13px 39px;
  margin-top: 26px;
  display: inline-block;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.menu__card__content__detail span {
  position: relative;
  z-index: 3; /*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #333;
}
.menu__card__content__detail::before {
  content: "";
  /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /*色や形状*/
  background: #ffffff;
  /*背景色*/
  width: 100%;
  height: 100%;
  /*アニメーション*/
  -webkit-transition: background 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: background 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, background 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, background 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.menu__card__content__detail:hover:before {
  background: #d1ad6c;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
@media screen and (max-width: 767px) {
  .menu__card__content__detail {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .menu__cards__accent {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../img/asirai1-pc.png) no-repeat center center/contain;
    width: 330px;
    height: 117px;
    z-index: -1;
  }
}

/* ===============================================
# modal
=============================================== */
.menu__modal {
  display: none;
  background: rgba(55, 55, 55, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .menu__modal {
    width: 100%;
    height: 100%;
    background: #ffffff;
  }
}

.menu__modal__body {
  position: fixed;
  z-index: 11;
  width: 640px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-51%, -50%);
          transform: translate(-51%, -50%);
  padding: 0;
  margin: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
@media screen and (max-width: 767px) {
  .menu__modal__body {
    width: 335px;
    max-width: calc(100% - 40px);
  }
}

.menu__modal__img img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .menu__modal__img img {
    width: 334px;
    height: auto;
  }
}

.menu__modal__button {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .menu__modal__button {
    font-size: 20px;
    background: #ffffff;
    border: none;
    margin-top: 46px;
    padding: 8px 40px;
  }
}

.menu__modal__button img {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 5.5%;
  right: calc(50% - 680px);
  padding: 0;
  border: none;
  display: inline-block;
  z-index: 12;
  background: rgba(55, 55, 55, 0.5);
}
.menu__modal__button img:hover img {
  cursor: pointer;
}
@media (max-width: 1440px) {
  .menu__modal__button img {
    right: 3.9%;
  }
}
@media screen and (max-width: 767px) {
  .menu__modal__button img {
    display: none;
  }
}

.menu__modal__text {
  padding: 22px 0 20px;
  text-align: center;
  background: url(../img/menu-cardBg.jpg) no-repeat center center/cover;
  width: 795px;
  max-width: 100%;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  .menu__modal__text {
    width: 334px;
    padding: 12px 20px 45px;
  }
}

.menu__modal__text__need {
  padding: 7px 17px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: inline-block;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .menu__modal__text__need {
    font-size: 16px;
    padding: 0;
  }
}

.menu__modal__text__title {
  margin-top: 5px;
  letter-spacing: 0.14em;
  font-size: 38px;
}
.menu__modal__text__title span {
  font-size: 38px;
}
@media screen and (max-width: 767px) {
  .menu__modal__text__title span {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .menu__modal__text__title {
    font-size: 24px;
    margin-top: 11px;
    letter-spacing: 0.02em;
  }
}

.menu__modal__text__price {
  margin-top: 5px;
  font-size: 42px;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 767px) {
  .menu__modal__text__price {
    font-size: 24px;
    margin-top: 8px;
  }
}

.menu__modal__text__price__en {
  font-size: 32px;
}
@media screen and (max-width: 767px) {
  .menu__modal__text__price__en {
    font-size: 20px;
  }
}

.menu__modal__text__price__tax {
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .menu__modal__text__price__tax {
    font-size: 16px;
  }
}

.menu__modal__text__list {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  -webkit-column-gap: 62px;
     -moz-column-gap: 62px;
          column-gap: 62px;
  margin-top: 5px;
  justify-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 60px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .menu__modal__text__list {
    grid-template-columns: repeat(2, auto);
    margin-top: 2px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 7px;
    padding-left: 0;
  }
}
.menu__modal__text__list li {
  margin-top: 21px;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .menu__modal__text__list li {
    font-size: 16px;
    letter-spacing: 0.05em;
    display: block;
  }
}

.menu__modal__button-wrapper {
  margin-top: 30px;
}

.access {
  font-family: "Shippori Mincho", serif;
  background: #262c3a;
  color: #e9e0cf;
  padding-block: 100px 79px;
}
@media screen and (max-width: 767px) {
  .access {
    padding-block: 40px 75px;
  }
}

.access__inner {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .access__inner {
    padding-inline: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px ) {
  .access__inner {
    padding-inline: 24px;
  }
}

.access__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 135px;
}
@media screen and (max-width: 767px) {
  .access__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 31px;
  }
}

.access__head {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 20px;
}
@media screen and (max-width: 767px) {
  .access__head {
    font-size: 24px;
    letter-spacing: 12px;
  }
}

.access__info {
  font-size: 20px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .access__info {
    font-size: 16px;
  }
}

.access__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 95px;
}
@media screen and (max-width: 767px) {
  .access__info-row {
    gap: 39px;
  }
}
.access__info-row dt {
  width: 81px;
}
.access__info-row:not(:first-child) {
  margin-top: 34px;
}
@media screen and (max-width: 767px) {
  .access__info-row:not(:first-child) {
    margin-top: 24px;
  }
}

.iframe-wrap {
  margin-top: 80px;
  width: 100%;
  padding-top: 54.5%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .iframe-wrap {
    margin-top: 38px;
  }
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__button {
  margin-top: 85px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .access__button {
    margin-top: 32px;
  }
}

.access-btn {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02px;
  width: 373px;
  background: #fff;
  /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  padding: 23px 27px;
  text-align: center;
  outline: none;
  /*アニメーションの指定*/
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}
.access-btn span {
  position: relative;
  z-index: 3; /*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #262c3a;
}
.access-btn span:hover {
  color: #262c3a;
}
@media screen and (max-width: 767px) {
  .access-btn {
    width: 350px;
    max-width: 100%;
    padding: 17px 0 16px;
    font-size: 18px;
  }
}

.bgleft::before {
  content: "";
  /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /*色や形状*/
  background: #d1ad6c; /*背景色*/
  width: 100%;
  height: 100%;
  /*アニメーション*/
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.bgleft:hover:before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.reservation {
  font-family: "Shippori Mincho", serif;
  background: #fff;
  color: #000;
  padding: 72px 0 81px;
}
@media screen and (max-width: 767px) {
  .reservation {
    padding-block: 60px 80px;
  }
}

.reservation__inner {
  width: 682px;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .reservation__inner {
    padding-inline: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px ) {
  .reservation__inner {
    padding-inline: 24px;
  }
}

.reservation__head {
  font-size: 32px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .reservation__head {
    font-size: 24px;
  }
}

.reservation__text {
  margin-top: 50px;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .reservation__text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
  }
  .reservation__text br {
    display: none;
  }
}

.reservation__items {
  margin-top: 89px;
}
@media screen and (max-width: 767px) {
  .reservation__items {
    margin-top: 40px;
  }
}

.reservation__item:not(:first-child) {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .reservation__item:not(:first-child) {
    margin-top: 24px;
  }
}

.reservation__footer {
  margin-top: 21px;
}
@media screen and (max-width: 767px) {
  .reservation__footer {
    margin-top: 3px;
  }
}

.reservation__privacy {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .reservation__privacy {
    text-align: left;
  }
}

.reservation__submit {
  margin-top: 57px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .reservation__submit {
    margin-top: 40px;
  }
}

.reservation__button {
  font-family: "Shippori Mincho", serif;
  display: inline-block;
  width: 246px;
  padding: 21px;
  text-align: center;
  border: 1px solid #000;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02px;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
  background: #fff;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .reservation__button {
    padding-block: 17px 16px;
    width: 350px;
    max-width: 100%;
    padding-block: 12px;
    font-size: 18px;
  }
}
.reservation__button:hover {
  color: #fff;
  background-color: #262c3a;
}

.reservation-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .reservation-control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 18px;
  }
}

.reservation-control__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .reservation-control__head {
    gap: 20px;
  }
}

.reservation-control__required {
  height: 30px;
  font-size: 15px;
  color: #fff;
  background: #d1ad6c;
  padding: 4px 6px;
  text-align: center;
}
.reservation-control__required.not-required {
  background: #ababab;
}
@media screen and (max-width: 767px) {
  .reservation-control__required {
    height: 28px;
    margin-top: 2px;
    padding-top: 2px 8px;
  }
}

.reservation-control__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-label {
  width: 180px;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .form-label {
    width: auto;
  }
}
.form-label.is-required {
  display: inline-block;
  position: relative;
}
.form-label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #e81919;
  text-align: center;
  border-radius: 4px;
  padding: 3px 8px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .form-label.is-required::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 6px);
    width: 44px;
  }
}

.form-text {
  width: 100%;
  padding: 11px 20px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #b8b8b8;
  background: #fff;
  font-family: "Shippori Mincho", serif;
}
.form-text::-webkit-input-placeholder {
  color: #ababab;
}
.form-text::-moz-placeholder {
  color: #ababab;
}
.form-text:-ms-input-placeholder {
  color: #ababab;
}
.form-text::-ms-input-placeholder {
  color: #ababab;
}
.form-text::placeholder {
  color: #ababab;
}
.form-text:focus {
  outline: #262c3a auto 1px;
}
@media screen and (max-width: 767px) {
  .form-text {
    font-size: 16px;
  }
}

/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 767px) {
  .custom-select-wrapper {
    display: block;
  }
}

.custom-select-wrapper selectselect {
  display: none;
}

.custom-select {
  position: relative;
}
.custom-select.opened .custom-select-trigger::after {
  margin-top: 3px;
  -webkit-transform: rotate(-135deg) translateY(-50%);
          transform: rotate(-135deg) translateY(-50%);
}

.custom-select-trigger {
  position: relative;
  display: block;
  width: 300px;
  padding: 10px 19px;
  font-size: 18px;
  font-weight: 500;
  color: #262c3a;
  background: #fff;
  border: 1px solid #b8b8b8;
  cursor: pointer;
}
.custom-select-trigger::after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  right: 21px;
  margin-top: -3px;
  border-bottom: 1px solid #262c3a;
  border-right: 1px solid #262c3a;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
@media screen and (max-width: 767px) {
  .custom-select-trigger {
    width: 100%;
  }
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  border: 1px solid #b5b5b5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border-top: none;
  z-index: 10;
}
.custom-select.opened .custom-select-trigger {
  border-bottom: none;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  line-height: 47px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.custom-option:hover {
  background: #262c3a;
  color: #e9e0cf;
}
.custom-option.section {
  background: #262c3a;
  color: #e9e0cf;
}

.form-textarea {
  width: 100%;
  height: 116px;
  border: 1px solid #b8b8b8;
  resize: none;
  font-size: 18px;
  padding: 10px;
}
.form-textarea:focus {
  outline: #262c3a auto 1px;
}

.form__checkbox {
  position: relative;
}

.form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-checkbox__input:checked + .form-checkbox__text::after {
  opacity: 1;
}
.form-checkbox__input:focus + .form-checkbox__text::before {
  outline: #262c3a auto 1px;
}

.form-checkbox__text {
  font-size: 16px;
  padding-left: 30px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .form-checkbox__text {
    padding-left: 40px;
  }
}
.form-checkbox__text a {
  color: #262c3a;
  text-decoration: underline;
}
.form-checkbox__text::before, .form-checkbox__text::after {
  content: "";
  position: absolute;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  left: 0;
  inset-block: 0;
  margin-block: auto;
}
.form-checkbox__text::before {
  width: 22px;
  height: 22px;
  background: #fff;
  border: 1px solid #262c3a;
}
.form-checkbox__text::after {
  opacity: 0;
  width: 15.63px;
  height: 11.25px;
  left: 3.5px;
  background: url(../img/check-icon.png) no-repeat center center/contain;
}

.footer {
  font-family: "Shippori Mincho", serif;
  font-size: 18px;
  font-weight: 400;
  background: #262c3a;
  color: #e9e0cf;
  padding-block: 23px 20px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-block: 35px 15px;
    font-size: 16px;
  }
}

.footer__inner {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .footer__inner {
    padding-inline: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px ) {
  .footer__inner {
    padding-inline: 24px;
  }
}

.footer__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__menu-item:not(:first-child) {
  border-left: 1px solid #e9e0cf;
}
.footer__menu-item a {
  padding-inline: 38px;
}

.footer__menu-link {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.footer__menu-link:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .footer__menu-link {
    display: none;
  }
}

.footer__info {
  margin-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    gap: 30px;
  }
}

.footer__logo a img {
  width: 120px;
  display: block;
  margin-inline: auto;
}
.footer__logo a img:hover {
  opacity: 0.8;
}

.footer__text {
  margin-top: 17px;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .footer__text {
    text-align: center;
    margin-top: 6px;
    font-size: 16px;
  }
}

.footer__tel {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.08em;
  position: relative;
  margin-left: 33px;
}
.footer__tel a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .footer__tel {
    text-align: center;
    margin-left: 0;
    margin-top: -6px;
  }
}
.footer__tel::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url(../img/tell-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: -28px;
}
@media screen and (max-width: 767px) {
  .footer__tel::before {
    width: 22px;
    height: 22px;
    position: static;
    background-position: 2px -3px;
  }
}
@media screen and (max-width: 767px) {
  .footer__tel {
    font-size: 20px;
  }
  .footer__tel a[href^="tel:"] {
    pointer-events: auto;
  }
}

.footer__sns-items {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
@media screen and (max-width: 767px) {
  .footer__sns-items {
    margin-top: 5px;
    gap: 26px;
  }
}

.footer__sns-link {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.footer__sns-link img {
  width: 40px;
  display: block;
}
@media screen and (max-width: 767px) {
  .footer__sns-link img {
    width: 30px;
  }
}
.footer__sns-link:hover {
  opacity: 0.6;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .footer__right {
    gap: 4px;
  }
}

.footer__right-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .footer__right-row dt {
    width: 80px;
  }
}

.footer__copyright {
  margin-top: 19px;
  font-size: 16px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-top: 30px;
    font-size: 14px;
  }
}
.footer__copyright small {
  font-size: inherit;
}

.thanks {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  background: #fff;
  color: #000;
  padding-block: 150px 110px;
}
@media screen and (max-width: 767px) {
  .thanks {
    padding-block: 137px 160px;
  }
}

.thanks__inner {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .thanks__inner {
    padding-inline: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px ) {
  .thanks__inner {
    padding-inline: 24px;
  }
}

.thanks__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thanks__head {
  font-size: 32px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .thanks__head {
    font-size: 24px;
  }
}

.thanks__text {
  margin-top: 60px;
  font-size: 16px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .thanks__text br {
    display: none;
  }
}

.thanks__logo {
  margin-top: 90px;
  width: 120px;
}
.thanks__logo a img {
  width: 120px;
  display: block;
  margin-inline: auto;
}
.thanks__logo a img:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .thanks__logo {
    display: none;
  }
}

.thanks__button {
  margin-top: 40px;
  display: inline-block;
  min-width: 373px;
  padding: 23px 113px 27px;
  text-align: center;
  border: 1px solid #000;
  color: #262c3a;
  font-size: 24px;
  font-weight: 500;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .thanks__button {
    min-width: 179px;
    padding: 14px;
    padding-block: 12px;
    font-size: 18px;
  }
}
.thanks__button:hover {
  color: #fff;
  background-color: #262c3a;
}