@use "./var" as *;

.footer {
  font-family: "Shippori Mincho", serif;
  font-size: 18px;
  font-weight: 400;
  background: $color-main;
  color: #e9e0cf;
  padding-block: 23px 20px;

  @include mq("sp") {
    padding-block: 35px 15px;
    font-size: 16px;
  }
}

.footer__inner {
  max-width: 100%;

  @include mq("sp") {
    padding-inline: 20px;
  }
  @include mq("tb") {
    padding-inline: 24px;
  }
}

.footer__menu-items {
  display: flex;
  justify-content: center;
}

.footer__menu-item {
  &:not(:first-child) {
    border-left: 1px solid #e9e0cf;
  }

  a {
    padding-inline: 38px;
  }
}

.footer__menu-link {
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }

  @include mq("sp") {
    display: none;
  }
}

.footer__info {
  margin-top: 37px;
  display: flex;
  justify-content: center;
  gap: 60px;

  @include mq("sp") {
    flex-direction: column;
    margin-top: 0;
    gap: 30px;
  }
}

.footer__left {
}

.footer__logo {
  a {
    img {
      width: 120px;
      display: block;
      margin-inline: auto;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.footer__text {
  margin-top: 17px;
  font-size: 18px;

  @include mq("sp") {
    text-align: center;
    margin-top: 6px;
    font-size: 16px;
  }
}

.footer__tel {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.08em;
  position: relative;
  margin-left: 33px;

  a[href^="tel:"] {
    pointer-events: none;
  }

  @include mq("sp") {
    text-align: center;
    margin-left: 0;
    margin-top: -6px;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(../img/tell-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: -28px;

    @include mq("sp") {
      width: 22px;
      height: 22px;
      position: static;
      background-position: 2px -3px;
    }
  }

  @include mq("sp") {
    font-size: 20px;

    a[href^="tel:"] {
      pointer-events: auto;
    }
  }
}

.footer__sns-items {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @include mq("sp") {
    margin-top: 5px;
    gap: 26px;
  }
}

.footer__sns-item {
}

.footer__sns-link {
  transition: opacity 0.3s;

  img {
    width: 40px;
    display: block;

    @include mq("sp") {
      width: 30px;
    }
  }

  &:hover {
    opacity: 0.6;
  }
}

.is-facebook {
}

.is-instagram {
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;

  @include mq(sp) {
    gap: 4px;
  }
}

.footer__right-row {
  display: flex;
  gap: 10px;

  dt {
    @include mq(sp) {
      width: 80px;
    }
  }
}

.footer__copyright {
  margin-top: 19px;
  font-size: 16px;
  text-align: center;

  @include mq(sp) {
    margin-top: 30px;
    font-size: 14px;
  }

  small {
    font-size: inherit;
  }
}
