// ベースカラー
$color-main: #262c3a;
$color-accent: #e81919;
$color-text: #262c3a;

// サイズ調整

$layout-width-canvas: 1440px;
$layout-width-inner: 1280px;

//マップ型変数breakpointsを定義
$breakpoints: (
  //キー値
  "sp": "screen and (max-width: 767px)",
  //767px以下（スマホ）用の表示
  "tb": "screen and (min-width: 768px) and (max-width:" $layout-width-inner - 1px ")",
  //768px以上（タブレット）用の表示
  "pc": "screen and (min-width:" $layout-width-inner ")" //1200px以上（PC）用の表示
) !default;

//メディアクエリ用のmixinを定義。デフォ値はsp
@mixin mq($breakpoint: "sp") {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Noto+Sans+JP:wght@400;700&family=Shippori+Mincho:wght@400;600&display=swap");
$font-en: "Shippori Mincho", "serif";
$font-jp: "Shippori Mincho", "serif";

// ベース設定
// body {
//   font-family: $font;
// font-size: 16px;
// letter-spacing: 1.6;
// color: $color-text;
// background-color: #efefef;
// }
