@use "./var" as *;

* {
  // outline: red solid 1px;
}

@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;700&display=swap");
$font: "Shippori Mincho", serif;

.view {
  font-family: $font;
}

// ============================
// empty
// ============================
.empty {
  height: 200px;
}

// ============================
// view
// ============================
// swiper_scss
.view {
  position: relative;
  height: 800px;
  width: 100%;
  @include mq(sp) {
    height: 386px;
  }
}
.swiper {
}

.main-visual-01 {
  background: url(../img/swiper_01.jpg) no-repeat center center/cover;
  height: 800px;
  @include mq(sp) {
    height: 386px;
  }
}
.main-visual-02 {
  background: url(../img/swiper_02.jpg) no-repeat center center/cover;
  height: 800px;
  @include mq(sp) {
    height: 386px;
  }
}
.main-visual-03 {
  background: url(../img/swiper_03.jpg) no-repeat center center/cover;
  height: 800px;
  @include mq(sp) {
    height: 386px;
  }
}
.swiper-button-prev {
  display: none; //不要
}

.swiper-button-next {
  display: none; //不要
}
.swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  background: #e9e0cf;
  opacity: 1;
  margin: 30px;
  @include mq(sp) {
    width: 12px;
    height: 12px;
  }
}
.swiper-pagination-bullet-active {
  background: #262c3a;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-inline: 30px; //pagination間のmargin
  @include mq(sp) {
    margin-inline: 15px;
  }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  margin-bottom: 95px; //pagination下のmargin
  @include mq(sp) {
    margin-bottom: 39px;
  }
}

.view__contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #e9e0cf;
  max-width: 100%;
  text-align: center;
  height: 300px; //PC追加
}
.view__title {
  font-size: 50px;
  margin-top: 32px;
  @include mq(sp) {
    font-size: 24px;
    margin-top: 70px;
  }
}
.view__text {
  font-size: 20px;
  margin-top: 60px;
  width: 630px;
  max-width: 100%;
  letter-spacing: 3px;
  line-height: 1.8;
  @include mq(sp) {
    font-size: 16px;
    line-height: (24 / 16);
    margin-top: 30px;
    letter-spacing: 0.7px;

    padding: 0 50px;
    br {
      display: none;
    }
  }
}
