@use "./var" as *;

* {
  // outline: red solid 1px;
}

//font設定
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;700&display=swap");
$font: "Shippori Mincho", serif;

header {
  font-family: $font;
}

body.is-active {
  overflow: hidden; //スクロールロック
}
// ============================
// Header
// ============================
.header {
  position: relative;
  background: url(../img/FV.jpg) no-repeat center center/cover;
  width: 100%;
  max-height: 1440px; //レスポンシブ対応
  min-height: 750px; //レスポンシブ対応
  // height: 800px;
  height: 100vh; //ヒーローイメージ
  @include mq(sp) {
    height: 411px;
    min-height: auto;
    margin-top: 20px;
    background-position: 63%;
  }
}

.header__inner {
  position: relative;
  width: 1000px; //インナー幅
  max-width: 100%;
  margin: 0 auto;
  color: #e9e0cf;
  font-weight: 500;

  @include mq(sp) {
    position: fixed;
    top: -105%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
    transition: all 0.5s ease 0s;
    &.is-active {
      top: 0;
    }
  }
}
.header__contents {
  position: relative;
  padding-top: 10vh; //縦レスポンシブ対応(vh換算)
  z-index: 3;
  margin-left: 5px; //画面際への張り付きを防ぐため

  @include mq(sp) {
    margin-left: 0;
    text-align: center;
    padding-top: 92px;
    z-index: 6;
    // display: none; //一時的に隠す用
  }
}
.header__logo {
  width: 179px;
  max-width: 100%;
  @include mq(sp) {
    position: absolute;
    top: 116%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 84px;
    height: 84px;
  }
  @include mq(tb) {
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.7;
    }
  }
  @include mq(pc) {
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.7;
    }
  }
}
.header__nav {
  // margin-top: 47px;
  margin-top: 6vh; //縦レスポンシブ対応(vh換算)
  font-size: 24px;
  @include mq(sp) {
    margin-top: 0;
    font-size: 20px;
  }
}
.header__nav-list {
}
.header__nav-item {
  &:nth-child(n + 2) {
    // margin-top: 34px;
    margin-top: 4vh; //縦レスポンシブ対応(vh換算)

    @include mq(sp) {
      margin-top: 32px;
    }
  }
}
.header__nav-item > a {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% + 1px);
    background: #e9e0cf;
    width: 0;
    height: 1px;
    margin-top: 8px;
    transition: all 0.3s ease 0s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: calc(50% + 1px);
    background: #e9e0cf;
    width: 0;
    height: 1px;
    margin-top: 8px;
    transition: all 0.3s ease 0s;
  }
}

@include mq(tb) {
  .header__nav-item > a:hover {
    &::before {
      width: 85px;
      left: 0;
    }

    &::after {
      content: "";
      width: 87px;
      right: 0;
    }
  }
}
@include mq(pc) {
  .header__nav-item > a:hover {
    &::before {
      width: 85px;
      left: 0;
    }

    &::after {
      content: "";
      width: 87px;
      right: 0;
    }
  }
}

.header__contact-wrapper {
  display: flex;
  justify-content: space-between; //端寄せ
  align-items: flex-end; //端寄せ

  @include mq(sp) {
    display: block;
  }
}
.header__contact {
  // margin-top: 68px;
  margin-top: 8vh; //縦レスポンシブ対応(vh換算)
  @include mq(sp) {
    margin-top: 54px;
  }
}
.header__contact-text {
  padding-left: 26px;
  font-size: 18px;
  @include mq(sp) {
    padding-left: 0;
  }
}
.header__contact-tel {
  position: relative;
  font-size: 33px;
  padding-left: 46px;
  letter-spacing: 1.35px;
  @include mq(sp) {
    display: inline-block;
    font-size: 30px;
    padding-left: 44px;
    letter-spacing: 2px;
    line-height: 1;
  }

  @include mq(pc) {
    &[href^="tel:"] {
      pointer-events: none;
    }
  }

  &::before {
    content: "";
    background: url(../img/basil_phone-solid.png) no-repeat center center/cover;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
  }
}

.header__contact-reserve {
  text-align: center;
  margin-right: 5px; //画面際への張り付きを防ぐため
  @include mq(sp) {
    margin-right: 0;
    margin-top: 31px;
  }
  a {
    position: relative;
    height: 77px;
    width: 274px;
    background: #d1ad6c;
    color: #262c3a;
    line-height: 77px;
    padding: 20px 38px;

    @include mq(sp) {
      height: 61px;
      width: 216px;
      line-height: 61px;
      padding: 16px 22px;
      font-weight: 500;
    }

    @include mq(pc) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
        transform-origin: right top;
        transform: scale(0, 1);
        background: #ffffff; /*背景色*/
        z-index: 3;
      }
      &:hover::after {
        transform-origin: left top;
        transform: scale(1, 1);
      }

      span {
        position: relative;
        z-index: 4;
      }
    }
  }
}
.header__bkg {
  background: rgba(#262c3adb, 0.86);
  height: 100vh; //ヒーローイメージ
  min-height: 750px; //レスポンシブ対応
  max-height: 1440px; //レスポンシブ対応
  min-width: 272px; //レスポンシブ対応(vh換算)
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-left: calc(50% - 50vw);
  padding-left: calc(50vw - 50% + 272px);

  @include mq(sp) {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    height: calc(100vh + 700px);
    background: rgba(#262c3adb, 1);
    top: -101vh;
    z-index: 5;
    transition: all 0.3s ease 0s;
    // // display: none; //一時的に隠す用

    &.is-active {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.header__log-center {
  @include mq(sp) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 126px;
    height: 120px;
    background: url(../img/ye_logo.png) no-repeat center center/cover;
  }
}

// ============================
//  drawer
// ============================
@include mq(sp) {
  .drawer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    background: #262c3a;
    z-index: 8;
  }

  .drawer-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    background: #262c3a;
  }

  .drawer-menu__var {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 41px;
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    z-index: 10;

    &.is-active {
      top: 82%;
      left: 20%;
    }
  }

  .drawer-menu__var-01 {
    background: #e9e0cf;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;

    &.is-active {
      scale: 1.5;
      transform: rotate(+225deg) translate(-4px, -18px);
      transform-origin: 50% 50%;
    }
  }

  .drawer-menu__var-02 {
    background: #e9e0cf;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;

    &.is-active {
      opacity: 0;
    }
  }

  .drawer-menu__var-03 {
    background: #e9e0cf;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;

    &.is-active {
      scale: 1.5;
      transform: rotate(-225deg) translate(10px, 4px);
      transform-origin: 50% 50%;
    }
  }
}
