@use "reset";
@use "var";
@use "mixin";

body {
  background: #000;
}

* {
  // outline: 2px solid orange;
}

// ベース設定
body {
  font-family: var.$font-jp;
  font-size: 16px;
  letter-spacing: 1.6;
  color: var.$color-text;
  background-color: #ffffff;
}

.is-sp {
  @include mixin.mq("pc") {
    display: none;
  }
}

.is-pc {
  @include mixin.mq("sp") {
    display: none;
  }
}

/* ===============================================
# top
=============================================== */
#page-top {
  background: #262c3a;
  width: 96px;
  height: 86px;
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 2;

  @include mixin.mq("sp") {
    width: 30px;
    height: 25px;
    right: 21px;
    padding: 7px;
    padding-bottom: 10px;
    background: #262c3a;
    box-sizing: content-box;
  }
}

/* ===============================================
# section__concept
=============================================== */
.section__concept {
  width: var.$layout-width-canvas;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 95px;
  @include mixin.mq("sp") {
    padding-top: 0;
  }
}

.menu__inner {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;

  // @include mixin.mq("sp") {
  //   padding-right: 20px;
  //   padding-left: 20px;
  // }
}

.concept__first__title-sp {
  display: none;
  @include mixin.mq("sp") {
    display: inline-block;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    h2 {
      color: var.$color-text;
      font-size: clamp(1.375rem, 2vw + 0.8rem, 2.5rem);
      line-height: 1.4;
      letter-spacing: 0.38em;
      writing-mode: vertical-rl;
    }
  }
}

.concept__first__img__container {
  width: 1440px;
  max-width: 100%;
  display: flex;
  position: relative;
  @include mixin.mq("sp") {
    // display: block;
    flex-direction: column;
  }
}
.concept__first__img {
  position: relative;
  margin-right: -10%;
  align-items: center;
  display: flex;

  @include mixin.mq("sp") {
    margin-right: 0;
    // order: 2;
  }

  img {
    max-width: 100%;
    width: 720px;
    @include mixin.mq("sp") {
      width: calc((960 / 1200) * 100%);
    }
  }
}

.concept__first__bgImg {
  img {
    max-width: 860px;
    width: 100%;
    @include mixin.mq("sp") {
      position: relative;
      width: Calc((960 / 1200) * 100%);
      margin-top: -52%;
      margin-left: 6%;
      z-index: -1;
    }
  }
}

.concept__first__accentImage {
  @include mixin.mq("sp") {
    background: url(../img/asirai-sp.png) no-repeat center center / contain;
    width: 150px;
    height: 53px;
    z-index: 1;
    position: absolute;
    top: 27px;
    right: 0%;
  }
}

.concept__first__accentImage2 {
  @include mixin.mq("sp") {
    background: url(../img/asirai2-sp.png) no-repeat center center / contain;
    width: 150px;
    height: 53px;
    z-index: 1;
    position: absolute;
    top: 378px;
    left: 0px;
  }
}

.concept__first__accentImage-sp {
  @include mixin.mq("sp") {
    position: absolute;
    background: url(../img/asirai-sp.png) no-repeat center center / contain;
    top: 0%;
    right: 0%;
    width: 150px;
    height: 53px;
    max-height: 100%;
    max-width: 100%;
  }
}

.concept__first__accentImage2-sp {
  @include mixin.mq("sp") {
    position: absolute;
    background: url(../img/asirai2-sp.png) no-repeat center center / contain;
    bottom: -5%;
    left: 0%;
    width: 150px;
    height: 53px;
  }
}

.concept__first__title {
  color: var.$color-text;
  font-size: clamp(1.375rem, 2vw + 0.8rem, 2.5rem);
  line-height: 1.4;
  letter-spacing: 0.38em;
  writing-mode: vertical-rl;
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  height: 85%;
  right: 15%;

  @include var.mq(tb) {
    letter-spacing: 0.15em;
  }
  @include mixin.mq("sp") {
    position: relative;
    height: 462px;
    transform: translate(-50%, 0%);
    top: 0;
    right: -8%;
    order: -1;
    line-height: 1.3;
    letter-spacing: 0.28em;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 24px;
  }
}

.concept__first__text__container {
  writing-mode: vertical-rl;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  height: 85%;
  right: 25%;

  @include var.mq(tb) {
    letter-spacing: 0.15em;
    right: 25%;
  }

  @include mixin.mq("sp") {
    position: static;
    height: auto;
    transform: translateY(0%);
  }
}

.concept__first__title__br {
  display: inline-block;
  text-align: end;
  letter-spacing: 0.4em;
  height: 100%;
  padding-bottom: 45px;

  @media (max-width: 950px) {
    padding-bottom: 5px;
  }
  @include mixin.mq("sp") {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.25em;
    padding-bottom: 0;
  }
}

.concept__first__title__br2 {
  @include mixin.mq("sp") {
    font-weight: 400;
    margin-bottom: -3px;
  }
}

.concept__first__text {
  font-size: 18px;
  line-height: 32.8px;
  letter-spacing: 0.19rem;
  margin-right: 55px;
  @media (max-width: 1280px) {
    font-size: 16px;
    margin-right: 5px;
  }
  @media (max-width: 1024px) {
    font-size: 14px;
    letter-spacing: 0.1rem;
    line-height: 2;
  }

  @media (max-width: 850px) {
    font-size: 12px;
    line-height: 2;
  }
  @include mixin.mq("sp") {
    writing-mode: horizontal-tb;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    letter-spacing: 0.01em;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    margin-top: 35px;
    height: 120px;
  }
}

.concept-br {
  margin-left: 40px;
}

.concept__second {
  display: flex;
  margin-top: 4%;
  position: relative;
  @media (max-width: 500px) {
    margin-top: 8%;
  }
  @include mixin.mq("sp") {
    flex-direction: column;
    margin-top: 18%;
  }
}

.concept__second__img__container {
  width: 1440px;
  max-width: 100%;
  display: flex;

  @include mixin.mq("sp") {
    display: block;
    text-align: right;
  }
}
.concept__second__accentImage2-sp {
  img {
    max-width: 860px;
    width: 100%;
    @include mixin.mq("sp") {
      position: relative;
      width: Calc((960 / 1200) * 100%);
      margin-right: 6%;
      margin-bottom: -6%;
      z-index: -1;
    }
  }
}
.concept__second__img {
  position: relative;
  margin-left: -8%;
  align-items: center;
  display: flex;

  @include mixin.mq("sp") {
    margin-left: 0;
    margin-top: -54%;
    justify-content: right;
  }

  img {
    max-width: 100%;
    width: 740px;
    @include mixin.mq("sp") {
      width: calc((960 / 1200) * 100%);
    }
  }
}

.concept__second__content {
  position: absolute;
  top: 13%;
  left: 13%;
  width: 400px;
  max-width: 100%;
  @include mixin.mq("sp") {
    flex: none;
    order: 2;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 13%;
    width: 100%;
    position: static;
    text-align: center;
  }
}
.concept__second__title {
  display: inline-block;
  font-size: clamp(1.375rem, 2vw + 0.8rem, 2.5rem);
  letter-spacing: 0.08em;
  line-height: 0.76;
  width: 100%;
  margin-left: 36px;
  @media (max-width: 930px) {
    margin-left: 10px;
  }
  @include mixin.mq("sp") {
    letter-spacing: -0.02em;
  }
}

.concept__second__text {
  width: 380px;
  max-width: 100%;
  margin-top: 17%;
  line-height: 1.85;
  font-size: 18px;
  margin-left: 8%;

  @media (max-width: 1280px) {
    font-size: 16px;
    margin-top: 50px;
    width: 300px;
  }
  @media (max-width: 1024px) {
    font-size: 14px;
    letter-spacing: 0.1rem;
    line-height: 2;
    width: 280px;
    margin-top: 20px;
  }
  @media (max-width: 850px) {
    font-size: 12px;
    line-height: 2;
    width: 240px;
  }
  @include mixin.mq("sp") {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
    line-height: 1.5;
    letter-spacing: 0;
    text-align: left;
    font-size: 16px;
  }
}

/* ===============================================
# menu__card
=============================================== */
.section__menu {
  padding: 130px 0 0;
  position: relative;
  margin-bottom: 114px;

  @include mixin.mq("sp") {
    margin-top: 101px;
    padding: 0;
  }

  @media screen and (min-width: 380px) and (max-width: 767px) {
    margin-top: 101px;
  }
}

.menu__inner {
  padding-inline: 0;

  @include mixin.mq("sp") {
    padding-inline: 20px;
  }
}

.menu__card {
  margin-top: 99px;
  position: relative;

  @include mixin.mq("sp") {
    margin-top: 40px;
  }
}

.menu__title {
  font-size: 40px;
  line-height: 1.35;
  text-align: center;

  @include mixin.mq("sp") {
    font-size: 24px;
  }
}

.menu__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 94px;

  @include mixin.mq("sp") {
    display: block;
  }
}

.menu__card__img {
  height: auto;
  width: 100%;
}

.menu__card__content {
  text-align: center;
  background: url(../img/menu-cardBg.jpg) lightgray 50% / cover no-repeat;
  padding: 16px 0 20px;
}

.menu__card__content__need {
  padding: 2px 6px;
  border-top: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
  display: inline-block;

  @include mixin.mq("sp") {
    margin-top: 8px;
    padding: 0;
  }
}

.menu__card__content__title {
  margin-top: 20px;
  font-size: 32px;
  letter-spacing: 0.05em;

  @include mixin.mq("sp") {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-top: 8px;
  }
}

.menu__card__content__price {
  margin-top: 16px;
  font-size: 32px;
  letter-spacing: 0.065em;

  @include mixin.mq("sp") {
    font-size: 24px;
    margin-top: 8px;
    letter-spacing: 0.06em;
  }
}

.menu__card__content__price__en {
  font-size: 24px;

  @include mixin.mq("sp") {
    font-size: 20px;
  }
}

.menu__card__content__price__tax {
  font-size: 18px;

  @include mixin.mq("sp") {
    font-size: 16px;
  }
}

button {
  position: relative;
  overflow: hidden;
}

.menu__card__content__detail {
  /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
  /*アニメーションの指定*/
  transition: ease 0.2s;
  /*ボタンの形状*/
  background: #ffffff;
  padding: 13px 39px;
  margin-top: 26px;
  display: inline-block;
  font-size: 18px;
  border: none;
  cursor: pointer;

  span {
    position: relative;
    z-index: 3; /*z-indexの数値をあげて文字を背景よりも手前に表示*/
    color: #333;
  }

  &::before {
    content: "";
    /*絶対配置で位置を指定*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*色や形状*/
    background: #ffffff;
    /*背景色*/
    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, background 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
  }

  &:hover:before {
    background: #d1ad6c;
    transform-origin: left top;
    transform: scale(1, 1);
  }

  @include mixin.mq("sp") {
    font-size: 16px;
  }
}

.menu__cards__accent {
  @include mixin.mq("pc") {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../img/asirai1-pc.png) no-repeat center center / contain;
    width: 330px;
    height: 117px;
    z-index: -1;
  }
}

/* ===============================================
# modal
=============================================== */
.menu__modal {
  display: none;
  background: rgba(55, 55, 55, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  @include mixin.mq("sp") {
    width: 100%;
    height: 100%;
    background: #ffffff;
  }
}

.menu__modal__body {
  position: fixed;
  z-index: 11;
  width: 640px;
  // width: 100%;
  // max-width: calc(100% - 30px * 2);
  // height: 1100px;
  // max-height: calc(100% - 30px * 2);
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  padding: 0;
  margin: 0;
  transition: all 1s ease-in-out;
  // overflow: scroll;

  @include mixin.mq("sp") {
    width: 335px;
    max-width: calc(100% - 20px * 2);
    // top: 0;
    // left: 0;
    // transform: translate(0, 0);
  }
}

.menu__modal__img img {
  // width: 795px;
  // height: 455px;
  width: 100%;
  height: auto;

  @include mixin.mq("sp") {
    width: 334px;
    height: auto;
  }
}

.menu__modal__button {
  cursor: pointer;
  @include mixin.mq("sp") {
    font-size: 20px;
    background: #ffffff;
    border: none;
    margin-top: 46px;
    padding: 8px 40px;
  }
}

.menu__modal__button img {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 5.5%;
  right: calc(50% - 680px);
  padding: 0;
  border: none;
  display: inline-block;
  z-index: 12;
  background: rgba(55, 55, 55, 0.5);

  &:hover img {
    cursor: pointer;
  }

  @media (max-width: 1440px) {
    right: 3.9%;
  }

  @include mixin.mq("sp") {
    display: none;
  }
}

.menu__modal__text {
  padding: 22px 0 20px;
  text-align: center;
  background: url(../img/menu-cardBg.jpg) no-repeat center center / cover;
  width: 795px;
  max-width: 100%;
  overflow: auto;

  @include mixin.mq("sp") {
    width: 334px;
    padding: 12px 20px 45px;
    // height: 460px;
    // height: 80vh;
  }
}

.menu__modal__text__need {
  padding: 7px 17px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: inline-block;
  font-size: 24px;

  @include mixin.mq("sp") {
    font-size: 16px;
    padding: 0;
  }
}

.menu__modal__text__title {
  margin-top: 5px;
  letter-spacing: 0.14em;
  font-size: 38px;

  & span {
    font-size: 38px;

    @include mixin.mq("sp") {
      font-size: 24px;
    }
  }

  @include mixin.mq("sp") {
    font-size: 24px;
    margin-top: 11px;
    letter-spacing: 0.02em;
  }
}

.menu__modal__text__price {
  margin-top: 5px;
  font-size: 42px;
  letter-spacing: 0.06em;

  @include mixin.mq("sp") {
    font-size: 24px;
    margin-top: 8px;
  }
}

.menu__modal__text__price__en {
  font-size: 32px;

  @include mixin.mq("sp") {
    font-size: 20px;
  }
}

.menu__modal__text__price__tax {
  font-size: 24px;

  @include mixin.mq("sp") {
    font-size: 16px;
  }
}

.menu__modal__text__list {
  display: grid;
  // grid-auto-flow: column;
  grid-template-columns: repeat(2, 200px);
  column-gap: 62px;
  margin-top: 5px;
  justify-items: start;
  justify-content: center;
  padding-left: 60px;
  max-width: 100%;

  @include mixin.mq("sp") {
    grid-template-columns: repeat(2, auto);
    margin-top: 2px;
    column-gap: 10px;
    row-gap: 7px;
    padding-left: 0;
  }

  & li {
    margin-top: 21px;
    font-size: 20px;

    @include mixin.mq("sp") {
      font-size: 16px;
      letter-spacing: 0.05em;
      display: block;
    }
  }
}

.menu__modal__button-wrapper {
  margin-top: 30px;
}

// @keyframes show {
//     from {
//         opacity: 0;
//     }

//     to {
//         opacity: 1;
//     }
// }
