@use "./var" as *;

.thanks {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  background: #fff;
  color: #000;
  padding-block: 150px 110px;

  @include mq("sp") {
    padding-block: 137px 160px;
  }
}

.thanks__inner {
  max-width: 100%;

  @include mq("sp") {
    padding-inline: 20px;
  }
  @include mq("tb") {
    padding-inline: 24px;
  }
}

.thanks__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.thanks__head {
  font-size: 32px;
  text-align: center;

  @include mq("sp") {
    font-size: 24px;
  }
}

.thanks__text {
  margin-top: 60px;
  font-size: 16px;
  text-align: center;

  @include mq("sp") {
    br {
      display: none;
    }
  }
}

.thanks__logo {
  margin-top: 90px;
  width: 120px;

  a {
    img {
      width: 120px;
      display: block;
      margin-inline: auto;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  @include mq("sp") {
    display: none;
  }
}

.thanks__button {
  margin-top: 40px;
  display: inline-block;
  min-width: 373px;
  padding: 23px 113px 27px;
  text-align: center;
  border: 1px solid #000;
  color: $color-main;
  font-size: 24px;
  font-weight: 500;
  transition: color 0.5s, background-color 0.5s;
  background: #fff;

  @include mq("sp") {
    min-width: 179px;
    padding: 14px;
    padding-block: calc(13px - 1px);
    font-size: 18px;
  }

  &:hover {
    color: #fff;
    background-color: $color-main;
  }
}
